@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

:root{
    --very-dark-blue: rgba(9, 11, 26, 1);
    --dark-desaturated-blue: rgba(27, 25, 56, 1);
    --soft-violet: hsl(277, 64%, 61%);
    --white: rgb(255, 255, 255);
    --main-para: rgba(255, 255, 255, 0.75);
    --stat-heading: rgba(255, 255, 255, 0.6);
}

body{
    background-color: var(--very-dark-blue);
    color: var(--main-para);
    font-size: 15px;
    font-family: Inter, serif;
    font-weight: 400;
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image{
    background: url(./images/image-header-desktop.jpg);
    height: inherit;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
 }

.display-overlay{
    background: rgba(170,92,219,0.70);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 100%;
    z-index: 2;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8vh;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    width: 75vw;
    height: 55vh;
    border-radius: 0.5em;
    text-align: left;
    justify-content: center;
    background-color: var(--dark-desaturated-blue);
}

.stats{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 1vw;
}

h1{
    font-size: 2em;
}

h1,
h2{
    color: var(--white);
    font-weight: 700;
}
p{
    font-weight: 2em;
    line-height: 2.5em;
}
.stats,
.para,
.heading{
    flex: 1;
    
}

div#image.flex-box{
    flex: 1;
}

.purple{
    color: var(--soft-violet);
}

.stats{
    font-family: 'lexend deca', serif;
    color: var(--main-para);
}

.para{
    color: var(--main-para);
    font-weight: 400;
}

.capital{
    text-transform: uppercase;
}

.stat-val > span{
    color: var(--main-para);
    font-size: 12px;
}

main{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 25em;
}

@media screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;
        height: 85vh;
        align-items: center;
        text-align: center;
        padding: none;
        padding-bottom: 1em;
    }
    .flex{
        padding: 0vh;
        justify-content: center;
    }
    #image{
        background: url(./images/image-header-mobile.jpg) 0 0 no-repeat fixed;
        height: 50vh;
        width: 100%;
        overflow: hidden;
        color: #FFFFFF;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0em;
        border-bottom-left-radius: 0em;
     }
    
    .display-overlay {
        background: rgba(170,92,219,0.70);
        overflow: hidden;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0em;
        border-bottom-left-radius: 0em;
        height: 100%;
        z-index: 2;
    }

    .stats{
        flex-direction: column;
        height: 70%;
        width: inherit;
        padding: 1vh;
    }
    .para
    {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
    }

    h1{
        padding-left: 1vw;
        padding-right: 1vw;
    }

}